<% include partials/header %>
    <h1>Add Customer</h1>
    <form method="POST" action ="/users/add">
        <lable> Firest Name </lable><br>
        <input type="text" name="first_name"><br>
        <lable> Last Name </lable><br>
        <input type="text" name="last_name"><br>
        <lable> Email </lable><br>
        <input type="text" name="email"><br>
        <br><input type="submit" value="Submit">
    </form>
<% include partials/footer %>
