<% include partials/header %>
        <form method="GET" action ="/exec">
            <br><input type="submit" value="Exec">
        </form>
        <form method="GET" action ="/users">
            <br><input type="submit" value="Users">
        </form>
        <form method="GET" action ="/files">
            <br><input type="submit" value="Files">
        </form>
        <form method="GET" action ="/users/db">
            <br><input type="submit" value="Users db">
        </form>
    </body>
</html>
